<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite 1">
    <test name="Test Folder 1">
         <classes>
             <class name="mystore.HomePage"/>
             <class name="mystore.LoginPage"/>
             <class name="mystore.ContactPage"/>
             <class name="mystore.Footer"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->