<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite 1">
    <test name="Test Folder 1">
         <classes>
             <class name="mystore.HomePageTests"/>
             <class name="mystore.LoginPageTests"/>
             <class name="mystore.ContactPageTests"/>
             <class name="mystore.FooterTests"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->